<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="header-container container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="../../index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.webp" alt=""> -->
        <h2 class="sitename">HesapMakinem</h2>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="../../index.html" >Anasayfa</a></li>
          <li><a href="">Hakkımızda</a></li>
          <li class="dropdown"><span>Hesaplamalar</span> <i class="bi bi-chevron-down toggle-dropdown"></i>
            <ul>
              <li class="dropdown"><a href=""><span>Finansal</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="../finansal/kdvhesaplama.html">KDV Hesaplama</a></li>
                  <li><a href="../finansal/faizhesaplama.html">Faiz Hesaplama</a></li>
                  <li><a href="../finansal/taksitplanihesaplama.html">Taksit Planı Hesaplama</a></li>
                  <li><a href="../finansal/yuzdeartisazalis.html">Yüzde Artış / Azalış</a></li>
                  <li><a href="../finansal/maaszamorani.html">Maaş Zam Oranı</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href=""><span>Matematiksel</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="../matematiksel/ortalamahesaplama.html">Ortalama Hesaplama</a></li>
                  <li><a href="../matematiksel/notortalamasi.html">Not Ortalaması</a></li>
                  <li><a href="../matematiksel/ikitariharasigunfarki.html">İki Tarih Arası Gün Farkı</a></li>
                  <li><a href="../matematiksel/sayininkaresikupu.html">Sayının Karesi/Küpü</a></li>
                  <li><a href="../matematiksel/modalma.html">Mod Alma</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href=""><span>Sağlık</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="../saglik/vucutkitleendeksi.html">Vücut Kitle İndeksi (BMI)</a></li>
                  <li><a href="../saglik/idealkilohesaplama.html">İdeal Kilo Hesaplama</a></li>
                  <li><a href="../saglik/kaloriihtiyaci.html">Kalori İhtiyacı</a></li>
                  <li><a href="../saglik/sutuketimhesabi.html">Su Tüketim Hesabı</a></li>
                  <li><a href="../saglik/nabızdegerihesaplama.html">Nabız Değeri Hesaplama</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href=""><span>Günlük Hayat</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="../gunluk/yashesaplama.html">Yaş Hesaplama</a></li>
                  <li><a href="../gunluk/dogumtarihindenburc.html">Doğum Tarihinden Burç</a></li>
                  <li><a href="../gunluk/takvimdegunbulma.html">Takvimde Gün Bulma</a></li>
                  <li><a href="../gunluk/saatdonusturucu.html">Saat Dönüştürücü (24h ↔ 12h)</a></li>
                  <li><a href="../gunluk/gunlukharcamaplani.html">Günlük Harcama Planı</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="">İletişim</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
    </div>
  </header>